{% extends "gifserver/main.html"%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span4">
            <h2>Sites</h2>
            <ul>
                {% for gifsite in gifsites %}
                <li>{{ gifsite.name }}</li>
                <ul>
                    <li>{{ gifsite.name }}</li>
                    <li>{{ gifsite.slug }}</li>
                    <li>{{ gifsite.url }}</li>
                </ul>
                {% endfor %}
            </ul>
        </div>
        <div class="span4">
            <h2>Gifs</h2>
            <ul>
                {% for gif in gifs %}
                <li>{{ gif.name }}</li>
                <ul>
                    <li>{{ gif.gifsite }}</li>
                    <li>{{ gif.name }}</li>
                    <li>{{ gif.url }}</li>
                </ul>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
